/*Import Indie Flower font from googleapis*/
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

html {
    font-family: "Indie Flower", sans-serif;
    font-size: 15px;
    background-color: rgba(0, 177, 139, 0.25);
    text-align: center;
}

div#menu {
    justify-content: space-between;
    text-align: left;
    display: flex;
    background-color: rgba(0, 191, 83, 0.75);
    position: sticky;
    overflow: auto;
}

main {
	border: 1px rgb(36, 193, 160) solid;
	background-color: rgb(92, 216, 190);
}

.side {
	background-color: rgba(0, 191, 83, 0.75);
	width: 75%;
	border: 2px solid rgb(24, 189, 105);
}

button {
    width: 45px;
    height: 45px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgba(0, 255, 110, 0.8);
	border: 2px solid rgb(24, 189, 105);
}

button.removeSide {
	width: 30px;
	height: 30px;
	padding: 0px;
}


footer {
    background-color: rgba(0, 191, 83, 0.75);
    border: 1px rgb(36, 193, 160) solid;
    font-size: 1.5em;
}